.hbTop {
    -fx-background-image: url('hb_top.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.hbBottom {
    -fx-background-image: url('hb_bottom.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.label {
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.9) , 0,0,0,1 );
    -fx-font-size: 1.3em;
    -fx-text-fill: #222;
}

.label, .text-field, .combo-box {
    -fx-text-fill: #222;
    -fx-font-size: 1.3em;
}

#statusText {
    -fx-text-fill: black;
    -fx-font-family: "Lucida Console", Courier, monospace;
    -fx-font-size: 12pt;
    -fx-font-weight: normal;
}

.button  {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #43a313 0%, #3b9012 100%),
        #409d24,
        #6ed83a,
        radial-gradient(center 50% 50%, radius 100%, #6ed83a, #4ec52c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
    /*-fx-opacity: 0.8;*/
}

.button:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #43a313 0%, #3b9012 100%),
        #409d24,
        #6ed83a,
        radial-gradient(center 50% 50%, radius 100%, #7fea4b, #4ec52c);
}

.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.button:disabled {
    -fx-opacity: 0.4;
}

.button .text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #00a300 , 0,0,0,2 );
}

.invalid {
    -fx-effect: dropshadow(three-pass-box, red, 10, 0.5, 0, 0);
}

.valid {
    -fx-effect: dropshadow(three-pass-box, red, 0, 0.5, 0, 0);
}